:root {
  --outer-margin: 1.5rem;
}

html {
  font-size: 20px;
}

body {
  margin: var(--outer-margin);
  background-color: darkslategray;
  color: lightcyan;

  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 2 * var(--outer-margin));

  main {
    flex-grow: 1;
  }
}

a {
  color: white;
}
