<!-- Bottom Bar -->

<div id="bottombar" class="visible">
    <div class="wrapper--wide">
        <p><a href="https://namingthingsishard.blog/">Naming Things Is Hard</a></p>
    </div>
</div>

<!-- Bototm Bar -->
