<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ title }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{!-- Icons --}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{{!--
<!-- Google Font: Titillium -->
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,900,700italic' rel='stylesheet' type='text/css'>
--}}

{{!-- Stylesheets --}}
<!-- Main stylesheet -->
<link rel="stylesheet" href="/assets/css/core/core.css">

{{#if styles}}
<!-- Custom stylesheets -->
{{#each styles}}
<link rel="stylesheet" href="/assets/css/{{ this }}">
{{/each}}
{{/if}}
