<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Titillium -->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,900,700italic' rel='stylesheet' type='text/css'>

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="./css/styles.css" media="screen, projection" />
</head>
<body>

{% body %}

<!-- Scripts -->
{{!-- <script src="./js/modernizr.js"></script> --}}
{{!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> --}}
<script src="./js/app.js"></script>

</body>
</html>
