---
title: Sample Page
layout: main
styles:
- sample/sample.css
scripts:
- sample/sample.js
lstyles:
- lsample.css
lscripts:
- lsample.js
---

<h1>A Sample Page</h1>

<p>Showing how a simple sample page can work.</p>
