---
title: Index Layout
---

{{> topbar }}

<h1>This is my index file!</h1>

<p>This is a paragraph.</p>
<p>This is a second paragraph.</p>
<p>This is a third paragraph.</p>
<p>This is a fourth paragraph.</p>

{{> bottombar }}