---
title: Index Layout
layout: main
---

{{> topbar }}

<main>
    <h1>Welcome to your Next Page</h1>

    <p>A thing using 11ty that helps you quickly start creating your next page.</p>
</main>

{{> bottombar }}
